.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
  padding: 2em;
  gap: 0.7rem;
  border-radius: 16px;
  background: var(--card-bg);
  border: var(--default-border);
  pointer-events: none;
}

.card:hover,
.card:active {
  box-shadow: var(--card-shadow);
}

.card .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}

.card .description {
  color: var(--fo-clr-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-size: small;
}

.icon {
  display: flex;
  align-items: center;
}

.author-wrapper,
.time-wrapper {
  display: flex;
}

.author,
.time {
  margin-left: 0.5rem;
}

.readmore {
  background-color: inherit;
  cursor: pointer;
  pointer-events: auto;
  align-self: flex-end;
  margin-top: auto;
  width: fit-content;
  border-radius: 8px;
  border: var(--default-border);
  padding: 0.5rem 0.5rem;
}

.readmore:hover,
.readmore:active {
  background-color: var(--fo-clr);
  color: var(--bg-clr-light);
}
