.card {
  width: 100%;
  min-height: 30vh;
  padding: 2em;
  border-radius: 16px;
  background: var(--card-bg);
  border: var(--default-border);
}

.card:hover,
.card:active {
  box-shadow: var(--card-shadow);
}

.card > * {
  margin-top: 0.7em;
}

.card .title {
  font-size: 1.2rem;
  font-weight: 600;
}
.card .author {
  font-size: 1.1rem;
}
.card .description {
  font-size: 1rem;
  font-weight: 400;
}

.card .time {
  font-size: 0.9rem;
  font-weight: 300;
}
