.card {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  padding: 2em;
  gap: 0.7rem;
  /* border-radius: 16px; */
  background: var(--card-bg);
  border-bottom: var(--default-border);
  cursor: pointer;
}

.card:last-of-type {
  border-bottom: none;
}

.card:hover,
.card:active {
  box-shadow: var(--card-shadow);
  backdrop-filter: contrast(110%);
}

.card .title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}

.card .description {
  color: var(--fo-clr-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-size: small;
}

.icon {
  display: flex;
  align-items: center;
}

.author-wrapper,
.time-wrapper {
  display: flex;
}

.author,
.time {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.author {
  pointer-events: auto;
}

.author:hover,
.author:active {
  text-decoration: underline;
}

.readmore {
  background-color: inherit;
  font-size: small;
  cursor: pointer;
  pointer-events: auto;
  align-self: flex-end;
  margin-top: auto;
  width: fit-content;
  border-radius: 8px;
  border: var(--default-border);
  padding: 0.5rem 0.5rem;
}

.readmore:hover,
.readmore:active {
  background-color: var(--fo-clr);
  color: var(--bg-clr-light);
  font-weight: bold;
}

.tags-wrapper {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.tag {
  padding: 0.3rem 0.5rem;
  background-color: var(--bg-clr-2);
  border-radius: 8px;
}
