.navbar-container {
  display: flex;
  background-color: var(--nav-bg-clr);
  flex-grow: 1;
  position: sticky;
  top: 0;
  box-shadow: var(--nav-shadow);
  z-index: 2;
  overflow: hidden;
}

.links {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.links a {
  color: var(--nav-fo-clr);
  padding: 1rem;
  font-weight: 700;
  transition: transform 100ms;
  cursor: pointer;
}

.links a:hover,
.links a:active {
  transform: scale(1.1);
}
