.navbar-container {
  --navbar-height: 52px;
  display: flex;
  flex-direction: row;
  background: var(--nav-bg);
  backdrop-filter: blur(18px);
  flex-grow: 1;
  position: sticky;
  top: 0;
  /* box-shadow: var(--nav-shadow); */
  height: var(--navbar-height);
  border-bottom: var(--default-border);
  z-index: 2;
}
.branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 3rem;
  /* padding-inline: 1rem; */
  /* margin-left: 2%; */
  cursor: pointer;
}

/* @media (min-width: 800px) {
  .branding {
    margin-left: 10%;
  }
} */
.branding-text {
  font-weight: 600;
}
.branding rect {
  fill: transparent;
  stroke: var(--fo-clr);
}
.branding svg path {
  fill: var(--fo-clr);
}
.links {
  display: none;
  /* margin-left: auto; */
  margin-right: auto;
}
.btn-auth {
  display: none;
}

@media (min-width: 950px) {
  .links {
    display: flex;
  }
  .btn-auth {
    display: block;
  }
}

.links a {
  color: var(--nav-fo-clr);
  text-shadow: 0 0px 2px var(--bg-clr-light);
  padding: 1rem;
  font-weight: 700;
  transition: transform 100ms;
  cursor: pointer;
}

.links a[aria-selected='true'] {
  pointer-events: none;
  border-bottom: 2px solid var(--nav-fo-clr);
}

.links a:hover,
.links a:active {
  transform: scale(1.1);
}
