.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.edit,
.preview {
  display: flex;
  flex-direction: column;
  max-height: 88vh;
}

.column-header {
  text-align: center;
  padding: 0.6rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--card-bg-clr);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-inline: auto;
}

.expand {
  padding: 0.1rem 0.5rem;
}

.edit .textarea {
  background-color: transparent;
  color: var(--fo-clr);
  padding: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
  resize: none;
  padding-bottom: 40vh;
  font-size: 1.1rem;
  overflow-wrap: normal;
}

.edit .textarea:focus {
  outline: none;
}

@media (min-width: 700px) {
  .layout {
    flex-direction: row;
  }

  .edit,
  .preview {
    height: 90vh;
    width: 50%;
    transition: all 400ms;
  }

  .edit[data-view='fulledit'],
  .preview[data-view='fullpreview'] {
    padding-inline: 20%;
    width: 100%;
  }
  .preview[data-view='fulledit'],
  .edit[data-view='fullpreview'] {
    width: 0%;
    scale: 0;
    visibility: hidden;
  }

  .preview {
    border-left: var(--default-border);
  }
}
