.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.preview {
  background-color: var(--bg-clr);
}

.edit,
.preview {
  display: flex;
  flex-direction: column;
  max-height: 89.9vh;
}

.column-header {
  text-align: center;
  padding: 0.6rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--card-bg-clr);
}

.edit .textarea {
  background-color: var(--bg-clr);
  color: var(--fo-clr);
  padding: 1rem;
  box-sizing: border-box;
  flex-grow: 1;
  border: none;
  resize: none;
  padding-bottom: 40vh;
  font-family: Georgia, 'Times New Roman', 'SolaimanLipi', Times, serif;
  font-size: 1.1rem;
  overflow-wrap: normal;
}

.edit .textarea:focus {
  outline: none;
}

@media (min-width: 700px) {
  .layout {
    flex-direction: row;
  }

  .edit,
  .preview {
    height: 90vh;
    width: 50%;
  }

  .preview {
    border-left: 1px solid black;
  }
}
