.markdown-body {
  box-sizing: border-box;
  padding: 1rem;
  flex-grow: 0;
  padding-top: 0.3rem;
  overflow: auto;
  font-family:  Georgia, 'Times New Roman', 'SolaimanLipi', Times, serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.markdown-body a {
  display: inline-block;
  text-decoration: underline;
  color: var(--hd-clr);
}
.markdown-body a {
  text-decoration: underline var(--hd-clr);
  color: var(--hd-clr);
  background-image: linear-gradient(to bottom, var(--hd-clr) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 100ms ease-out;
}

.markdown-body a:hover {
  background-position: 0 0;
  text-decoration-color: var(--hd-clr);
  color: var(--bg-clr);
}

.markdown-body pre {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: 'Cascadia Code', monospace;
  /* background-color: #f8f8f8; */
  background-color: #2E3440;
  border-radius: 8px;
}

.markdown-body code {
  color: hsl(0, 0%, 80%);
}

.markdown-body li+li {
  margin-top: 0.5rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: var(--hd-clr);
}