.markdown-body a {
  display: inline-block;
  text-decoration: underline;
  color: rgb(54, 116, 95);
}
.markdown-body a {
  text-decoration: underline rgb(54, 116, 95);
  color: rgb(54, 116, 95);
  background-image: linear-gradient(to bottom, rgb(54, 116, 95) 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 100ms ease-out;
}

.markdown-body a:hover {
  background-position: 0 0;
  text-decoration-color: rgb(54, 116, 95);
  color: white;
}
.markdown-body {
  box-sizing: border-box;
  padding: 1rem;
  flex-grow: 0;
  padding-top: 0.3rem;
  overflow: auto;
}

.markdown-body pre {
  padding: 1.2rem;
  background-color: #f8f8f8;
}