.markdown-body {
  --td-bg-clr: var(--bg-clr);
  --td-2n-bg-clr: hsl(var(--hue), 30%, 92%);
  --td-border-clr: hsl(220, 10%, 80%);
  --tr-border-clr: hsla(220, 10%, 80%);

  /* font-family:Georgia, 'Times New Roman', Times, serif; */
  /* font-family: 'Gentium Plus', serif; */

  box-sizing: border-box;
  padding: 1rem;
  flex-grow: 0;
  padding-top: 0.3rem;
  overflow: auto;
  font-size: 1.1rem;
  line-height: 160%;
}

[data-theme='dark'] .markdown-body {
  --td-border-clr: hsla(220, 10%, 40%);
  --tr-border-clr: hsla(220, 10%, 40%);
}

[data-theme='dark'] .markdown-body strong {
  font-weight: 900;
}

.markdown-body .p {
  margin-bottom: 1rem;
}
.markdown-body a {
  display: inline-block;
  text-decoration: underline;
  color: var(--hd-clr);
}
.markdown-body a {
  text-decoration: underline var(--hd-clr);
  color: var(--hd-clr);
  background-image: linear-gradient(
    to bottom,
    var(--hd-clr) 50%,
    transparent 50%
  );
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 100ms ease-out;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

.markdown-body td,
.markdown-body th {
  padding: 0;
}

.markdown-body table th {
  font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
  border-color: var(--td-border-clr);
}

.markdown-body table tr {
  background-color: var(--td-bg-clr);
  border-top: 1px solid hsla(210, 18%, 87%, 1);
  border-color: var(--tr-border-clr);
}

.markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
  background-color: var(--td-2n-bg-clr);
}

.markdown-body a:hover {
  background-position: 0 0;
  text-decoration-color: var(--hd-clr);
  color: var(--bg-clr);
}

.markdown-body pre {
  padding: 1rem;
  font-size: 0.9rem;
  font-family: 'Cascadia Code', monospace;
  /* background-color: #f8f8f8; */
  background-color: #2e3440;
  border-radius: 8px;
}

.markdown-body code {
  color: hsl(0, 0%, 80%);
}

.markdown-body li + li {
  margin-top: 0.5rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
  color: var(--hd-clr);
  line-height: 110%;
}
