.parent {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 0.6rem;
  background-color: var(--theme-switch-bg-clr);
  margin: 0.7rem;
  width: 48px;
  height: 26px;
  padding: 0 0.3rem;
  border-radius: 1000px;
  position: relative;
  cursor: pointer;
}

.thumb {
  position: absolute;
  top: 50%;
  translate: 0% -50%;
  left: var(--theme-switch-thumb-left);
  width: 19px;
  height: 19px;
  background-color: aliceblue;
  border-radius: 1000px;
  transition: left 200ms;
}

.thumb:hover {
  box-shadow: 0 0 8px aliceblue;
}

.thumb:focus {
  box-shadow: 0 0 16px aliceblue;
}
