.useful-buttons {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  gap: 2.5rem;
  overflow-x: auto;
  word-break: normal;
}

@media screen and (min-width: 768px) {
  .useful-buttons {
    margin-left: 1rem;
  }
}
.modal {
  width: 100vw;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.modal input[type='text'],
.modal button {
  flex-basis: 1;
  flex-grow: 1;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  background: var(--bg-clr-2);
  border: var(--default-border);
}

.modal input[type='text'] {
  padding: 0.6rem;
  color: var(--fo-clr);
}
.modal input::placeholder {
  color: var(--fo-clr-light-2);
}
.modal button {
  padding: 0.5rem;
  cursor: pointer;
  color: var(--btn-fo-clr);
  font-weight: 600;
}

.modal .modal-btn-group {
  display: flex;
  gap: 1rem;
}

.modal .modal-btn-group > * {
  flex-grow: 1;
}

.image-modal input[type='text'] {
  padding-left: 1.2rem;
  background-color: var(--bg-clr);
  color: var(--fo-clr);
}

.file-input {
  font-size: 1rem;
  border: 0.5px groove black;
  background-color: var(--bg-clr);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.file-input > span {
  display: block;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
}

.file-input .file-input-browse {
  display: flex;
  align-items: center;
  background-color: var(--btn-bg-clr);
  color: var(--btn-fo-clr);
  font-weight: 600;
}

@media (min-width: 769px) {
  .modal {
    width: 50vw;
  }
}
@media (min-width: 1080px) {
  .modal {
    width: 40vw;
  }
}
@media (min-width: 1400px) {
  .modal {
    width: 30vw;
  }
}

.svg-icon-parent {
  transition: transform 0.1s;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
  color: var(--btn-fo-clr);
}

.svg-icon-parent:hover {
  transform: scale(1.1);
}

.svg-icon-stroke {
  stroke: var(--btn-fo-clr);
  stroke-width: 12;
}

.svg-icon-fill {
  fill: var(--btn-fo-clr);
}

.svg-image-icon-fill {
  fill: var(--btn-bg-clr);
}

[data-theme='dark'] .dark-fill {
  fill: var(--btn-fo-clr);
}
