.wrapper {
  display: flex;
  width: 100%;
  position: relative;
  background: var(--bg-clr-2);
  padding: 0.5rem;
  gap: 0.8rem;
  border-radius: 8px;
  align-tracks: center;
  cursor: pointer;
  border: var(--default-border);
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.select-heading {
  color: var(--fo-clr-light-2);
  display: flex;
  align-items: center;
}

.selected-tag {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: var(--bg-clr);
  border-radius: 8px;
}

.clear-btn {
  user-select: none;
  background: none;
  color: var(--fo-clr-2);
  cursor: pointer;
  border-radius: 100vw;
  height: min-content;
  font-size: 1.25em;
  margin: auto 0;
}


.clear-btn:hover {
  background-color: var(--bg-clr);
  scale: 1.1;
}

.divider {
  background-color: var(--fo-clr-light);
  align-self: stretch;
  width: 0.05em;
}

.caret {
  translate: 0 50%;
  border: 0.25em solid transparent;
  border-top-color: var(--fo-clr-2);
}

.menu {
  border: var(--default-border);
  position: absolute;
  top: calc(100% + 0.5em);
  left: 0;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background: var(--bg-clr-light);
}

.menu input {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--fo-clr);
  background: var(--bg-clr-light);
  width: 100%;
  border: none;
  border-bottom: var(--default-border);
  outline: none;
}

.menu input::placeholder {
  color: var(--fo-clr-light-2);
}

.menu input:focus,
.menu input:hover {
  outline: none;
}

.menu ul {
  padding: 0;
  margin: 0;
  max-height: 25vh;
  overflow: auto;
}

.menu li {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0.5rem 1rem;
  color: var(--fo-clr);
  border-bottom: var(--default-border);
}

.menu li:last-of-type {
  border-bottom: none;
}

.menu li[aria-current='true'],
.menu li:hover {
  background-color: var(--bg-clr);
}

.menu[aria-hidden='true'] {
  display: none;
}

.create-new {
  color: var(--fo-clr);
  padding: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}
