.auth-container {
  display: flex;
  max-height: 90vh;
  margin-top: 5rem;
  justify-content: center;
  gap: 2rem;
}

.logo-wrapper {
  position: relative;
  width: 200px;
  transition: transform 100ms ease-in;
}

.logo-wrapper:hover {
  transform: scale(1.1);
}

.vspace {
  height: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-error,
.form-success {
  text-align: center;
}

.form-error {
  color: rgb(112, 112, 0);
}

[data-theme='dark'] .form-error {
  color: yellow;
}

.form-success {
  color: green;
}

.auth-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.auth-form fieldset {
  border-radius: 8px;
}

.auth-form :is(label, legend) {
  font-size: 1rem;
}

.auth-form input:is([type='text'], [type='email'], [type='password']) {
  /* border-radius: 100vw; */
  padding: 0.1rem 1rem;
  border: none;
  font-size: 1rem;
  min-width: 20vw;
  width: 100%;
  background-color: transparent;
  outline: none;
  color: var(--fo-clr);
}
.btn-visibility {
  margin-left: 0.5rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

[data-theme='dark'] .btn-visibility {
  filter: invert(100%);
}

.submit-container {
  justify-content: space-between;
  margin: 2px;
}

.submit-container {
  display: flex;
  gap: 1rem;
}

.btn-login,
.btn-signup {
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

:is(.btn-login, .btn-signup):active {
  transform: translateY(4px);
}

.btn-login {
  background-color: hsl(220, 100%, 62%);
}

.btn-signup {
  background-color: rgb(56, 151, 27);
}

.submit-container div[role='button'] {
  text-decoration: underline;
  padding: 1rem;
  border-radius: 4px;
  height: min-content;
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    var(--hd-clr) 50%,
    transparent 50%
  );
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 200ms ease-out;
}

.submit-container div[role='button']:hover {
  text-decoration: none;
  color: var(--bg-clr);
  background-position: 0 0;
}

@media (max-width: 600px) {
  .auth-container {
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1rem;
    justify-content: start;
  }
  .logo-wrapper {
    width: 100px;
    height: 100px;
  }
}
