.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.para {
  text-align: start;
}

.postcard-group {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 8px;
  border: var(--default-border);
  overflow: hidden;
}

.search-filter-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}