.container {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.para {
  text-align: start;
}

.postcard-group {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  /* gap: 1rem; */
  margin-bottom: 2rem;
  border-radius: 16px;
  border: var(--default-border);
  overflow: hidden;
}

/* @media screen and (min-width: 900px) {
  .postcard-group {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1600px) {
  .postcard-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */
