:root {
  --hue: 220;
  /* background color */
  --bg-clr: hsl(var(--hue), 60%, 95%);
  --bg-clr-grad: radial-gradient(
      76.94% 76.94% at 50% 50%,
      #ffffff 0%,
      hsl(218, 78%, 90%) 100%
    ),
    #f2f7ff;
  --bg-clr-light: hsl(var(--hue), 55%, 90%);
  --bg-clr-2: hsl(var(--hue), 50%, 90%);

  /* forground color */
  --fo-clr: hsla(var(--hue), 75%, 20%, 1);
  --fo-clr-2: hsl(var(--hue), 70%, 15%);
  --fo-clr-light: hsl(var(--hue), 70%, 30%);
  --fo-clr-light-2: hsla(var(--hue), 30%, 60%, 1);

  /* btn styles */
  --btn-bg-clr: hsl(var(--hue), 40%, 85%);
  --btn-fo-clr: var(--fo-clr-2);
  --btn-blur-bg-clr: hsla(0, 0%, 0%, 0.6);
  --btn-blur-fo-clr: hsl(0, 0%, 90%);

  /* PostCard styles */
  --card-bg: hsl(var(--hue), 25%, 90%);
  --card-bg: linear-gradient(
    180deg,
    hsla(var(--hue), 79%, 93%, 0.5) 0%,
    hsla(var(--hue), 84%, 93%, 0.345) 52.08%,
    hsla(var(--hue), 90%, 93%, 0.5) 97.92%
  );
  --card-bg-2: hsl(var(--hue), 25%, 80%);
  --card-shadow: 0px 6px 0px hsl(220, 50%, 78%);
  --card-border-clr: hsl(0, 0%, 86%);

  /* navbar styles */
  --nav-bg-clr: hsla(var(--hue), 20%, 90%, 1);
  --nav-bg: linear-gradient(
    180deg,
    hsla(var(--hue), 100%, 96%, 0.8) 0%,
    hsla(var(--hue), 100%, 96%, 1) 100%
  );
  --nav-fo-clr: hsl(var(--hue), 52%, 40%);
  --nav-fo-clr-active: hsla(var(--hue), 52%, 40%, 0.5);
  --nav-shadow: 1px 1px 4px hsl(var(--hue), 11%, 60%);

  /* Post page styles */
  --post-info-fo-clr: hsl(220, 50%, 20%);
  --post-title-bg-clr: hsl(var(--hue), 50%, 90%);

  /* searchbar styles */
  --search-bar-input-bg-clr: hsla(var(--hue), 70%, 80%, 0.1);
  --search-bar-btn-bg-clr: hsla(var(--hue), 50%, 70%, 0.2);

  /* theme switcher */
  --theme-switch-bg-clr: hsla(var(--hue), 30%, 30%, 0.9);
  --theme-switch-thumb-left: 25px;

  /* scrollbar */
  --scroll-bg-clr: hsla(var(--hue), 10%, 50%, 0.4);
  --scroll-thumb-bg-clr: hsla(0, 0%, 50%, 0.6);

  --border-color: hsla(var(--hue), 55%, 30%, 0.2);
  --border-color-2: hsla(var(--hue), 55%, 30%, 0.8);
  --default-border: 1px solid var(--border-color);

  --danger: hsl(0, 39%, 55%);
  --info: hsl(210, 59%, 45%);
  --success: hsl(110, 36%, 38%);
  --warning: hsl(58, 98%, 34%);
}

[data-theme='dark'] {
  --bg-clr: hsl(var(--hue), 9%, 15%);
  --bg-clr-grad: radial-gradient(
      50% 50% at 50% 50%,
      hsla(220, 20%, 30%, 0.5) 10%,
      hsla(220, 9%, 15%, 1) 90%
    ),
    hsl(223, 9%, 15%);
  --bg-clr-light: hsl(var(--hue), 11%, 19%);
  --bg-clr-2: hsl(var(--hue), 10%, 25%);

  --fo-clr: hsl(var(--hue), 41%, 90%);
  --fo-clr-2: hsl(var(--hue), 70%, 93%);
  --fo-clr-light: hsl(var(--hue), 31%, 80%);
  --fo-clr-light-2: hsla(var(--hue), 50%, 80%, 0.5);

  --btn-bg-clr: hsl(var(--hue), 10%, 25%);
  --btn-fo-clr: hsl(0, 0%, 90%);

  --card-bg: hsl(var(--hue), 8%, 20%);
  --card-bg: linear-gradient(
    180deg,
    hsla(var(--hue), 10%, 20%, 0.5) 0%,
    hsla(var(--hue), 10%, 20%, 0.2) 100%
  );
  --card-bg-2: hsl(var(--hue), 8%, 13%);
  --card-shadow: 0px 6px 0px hsl(var(--hue), 10%, 11%);
  --card-border-clr: hsl(var(--hue), 10%, 25%);

  --nav-bg-clr: hsla(var(--hue), 9%, 22%, 1);
  --nav-bg: linear-gradient(
    180deg,
    hsl(var(--hue), 10%, 20%, 0.5) 0%,
    hsla(var(--hue), 10%, 20%, 0.2) 100%
  );
  --nav-fo-clr: hsl(var(--hue), 52%, 90%);
  --nav-fo-clr-active: hsla(var(--hue), 52%, 90%, 0.4);
  --nav-shadow: 1px 1px 4px hsl(var(--hue), 11%, 11%);

  --post-info-fo-clr: var(--fo-clr-light);
  --post-title-bg-clr: var(--btn-bg-clr);

  --search-bar-input-bg-clr: hsla(var(--hue), 10%, 20%, 0.2);
  --search-bar-btn-bg-clr: hsl(var(--hue), 10%, 35%, 0.2);

  --theme-switch-bg-clr: hsla(var(--hue), 20%, 40%, 0.5);
  --theme-switch-thumb-left: 4px;

  --border-color: hsla(var(--hue), 55%, 80%, 0.2);
  --border-color-2: hsla(var(--hue), 55%, 90%, 0.8);

  --scroll-bg-clr: hsla(var(--hue), 10%, 50%, 0.4);

  --success: hsl(120, 36%, 53%);
  --danger: hsl(0, 66%, 64%);
  --warning: hsl(60, 46%, 58%);
  --info: hsl(210, 100%, 63%);

}

html,
body {
  color: var(--fo-clr);
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body::before {
  position: fixed;
  inset: 0;
  content: '';
  z-index: -10;
  width: 100%;
  height: 110vh;
  background: var(--bg-clr-grad);
}

* {
  box-sizing: border-box;
}

button {
  padding: unset;
  border: unset;
  background: unset;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: hsla(0, 0%, 0%, 0.3);
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 0%, 0.5);
}
/* Only show this to desktop */
@media (min-width: 40rem) {
  html::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--scroll-bg-clr);
  }

  /* Handle */
  html::-webkit-scrollbar-thumb {
    border-radius: 6px;
    width: 5px;
    background: var(--scroll-thumb-bg-clr);
  }
  html::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 40%, 0.5);
  }
}

input[type='file'] {
  display: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-wrap {
  overflow-x: scroll;
  white-space: pre;
}

.btn-group {
  position: fixed;
  display: flex;
  top: 2rem;
  right: 2rem;
  z-index: 2;
}

.btn {
  text-align: center;
  background-color: var(--btn-bg-clr);
  color: var(--btn-fo-clr);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.8rem;
  cursor: pointer;
  transition: transform 150ms;
}
.btn-blur {
  background-color: var(--btn-blur-bg-clr);
  color: var(--btn-blur-fo-clr);
  font-size: 0.9rem;
  backdrop-filter: blur(5px);
  white-space: pre;
}

@media (hover: hover) {
  .btn:hover {
    transform: scale(1.1);
  }
}

.mt-1 {
  margin-top: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  cursor: pointer;
}

a.anchor {
  display: inline-block;
  text-decoration: underline var(--fo-clr);
  color: var(--fo-clr);
  background-image: linear-gradient(
    to bottom,
    var(--fo-clr) 50%,
    transparent 50%
  );
  background-size: 100% 200%;
  background-position: 0 -100%;
  transition: background-position 100ms ease-out;
}

a.anchor:hover {
  background-position: 0 0;
  text-decoration-color: var(--fo-clr);
  color: var(--bg-clr);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50rem var(--bg-clr) inset !important;
  -webkit-text-fill-color: hsl(120, 39%, 53%);
}
