.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  display: flex;
  padding: 2rem 1%;
  flex: 1;
  flex-direction: column;
  max-width: 95%;
}

.para {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 2rem 15%;
  }
}
