.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main {
  display: flex;
  padding: 2rem 12rem;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.para {
  text-align: start;
}
