.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.sec-branding {
  min-height: 60vh;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0% 3%;
  gap: 2rem;
  flex-direction: column;
}

@media (min-width: 769px) {
  .sec-branding {
    padding: 0% 10%;
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .sec-branding {
    padding: 0% 20%;
  }
}
@media (min-width: 1500px) {
  .sec-branding {
    padding: 0% 30%;
  }
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.brand-name {
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.brand-slogan {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
  display: block;
  width: 280px;
  height: 2rem;
}

.custom-type-animation-cursor::after {
  content: '|';
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 0;
  }
}