.head-container {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-clr);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: var(--card-shadow);
}

.title {
  font-size: 3rem;
  text-align: center;
}

.info {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 1rem;
  line-height: 1.6rem;
  color: var(--post-info-fo-clr);
}
