.container {
  flex-direction: column;
}

.head-container {
  display: flex;
  flex-direction: column;
  background-color: var(--post-title-bg-clr);
  border-radius: 0 0 10px 10px;
  padding: 1.5rem;
  color: var(--fo-clr);
  font-size: 3rem;
  text-align: center;
}

.info {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: var(--post-info-fo-clr);
}

.info span {
  font-weight: 600;
}

.alert {
  font-size: large;
  padding: 1rem;
  text-align: center;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  gap: 1rem;
  margin-right: auto;
}

.btn {
  font-size: 0.9rem;
  border-radius: 8px;
  cursor: pointer;
  color: var(--fo-clr-light);
  background-color: var(--bg-clr-light);
  border: var(--default-border);
  padding: 0.5rem 1rem;
}

.btn:hover {
  background-color: var(--btn-bg-clr);
}
.btn:active {
  transform: translateY(4px);
}

.extras {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 600px) {
  .extras {
    flex-direction: row;
  }
  .btn-group {
    margin-right: 0;
  }
}

