.head-container {
  display: flex;
  flex-direction: column;
  background-color: var(--post-title-bg-clr);
  color: var(--btn-fo-clr);
  border-radius: 0 0 10px 10px;
  padding: 1.5rem;
  /* box-shadow: var(--card-shadow); */
}

.title {
  font-size: 3rem;
  text-align: center;
}

.info {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 1rem;
  line-height: 1.6rem;
  color: var(--post-info-fo-clr);
}
