.profile-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
  gap: 2rem;
  color: var(--fo-clr);
}

@media (min-width: 768px) {
  .profile-container {
    padding: 2rem 5rem;
    flex-direction: row;
  }
}

@media (min-width: 1080px) {
  .profile-container {
    padding: 2rem 10rem;
  }
}

@media (min-width: 1500px) {
  .profile-container {
    padding: 2rem 15rem;
  }
}

/* for debugging */
/* .profile-container * {
  outline: 1px solid rgb(112, 127, 253);
} */

.profile {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  gap: 1rem;
}

.all-posts {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.profile-photo {
  padding: 2rem;
  width: 100%;
  max-width: 300px;
  border-radius: 100vw;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.profile-photo-overlay {
  position: absolute;
  padding: inherit;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.profile-photo-overlay div {
  display: grid;
  place-items: center;
  height: 0%;
  border-radius: 100vw;
  color: transparent;
  transition: backdrop-filter 200ms;
}

.profile-photo:hover .profile-photo-overlay div {
  backdrop-filter: brightness(50%);
  font-weight: bold;
  color: white;
  height: 100%;
}

.profile-photo img,
.profile-photo svg {
  border-radius: 100vw;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-photo svg * {
  stroke: var(--fo-clr-light);
  stroke-width: 3;
}

.profile-description {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border-radius: 24px;
}

.profile-description,
.all-posts {
  background-color: var(--card-bg);
}

.profile-description > *,
.social > * {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.name {
  text-align: center;
  font-size: 1.25rem;
}

.bio,
.phone-value,
.email-value,
.social-title + a {
  font-size: 13px;
  color: var(--fo-clr-light);
}

.contact,
.social {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.phone,
.email {
  font-weight: normal;
}

.btn-logout,
.btn-edit-profile {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: rgb(214, 37, 37);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.btn-edit-profile {
  background-color: hsl(220, 52%, 40%);
}

.btn-edit-profile:hover {
  background-color: hsl(220, 52%, 60%);
}

.btn-logout:hover {
  background-color: rgb(219, 103, 103);
}

.btn-logout:active,
.btn-edit-profile:active {
  transform: translateY(4px);
}

.all-posts {
  border-radius: 24px;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.all-posts-title {
  font-weight: bold;
  font-size: 20px;
}

.post {
  border-radius: 16px;
}
