.spinner-container {
  position: relative;
  display: flex;
}

.spinner-container > * {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 3px solid;
  position: absolute;
  border-color: var(--fo-clr) transparent transparent transparent;
  border-radius: 50%;
  transform-origin: center;
  animation: clockwise-rotate 0.7s linear infinite;
}
.spinner-background {
  position: absolute;
  border: 3px solid;
  border-color: var(--fo-clr-light);
  opacity: 0.4;
  border-radius: 50%;
}

@keyframes clockwise-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Ellipse 6 */
